.table {
  width: 100%;
  text-align: center;
}

.sales-table-wrapper {
 
  .salesbtn-table-container {
    width: 100%;
    margin-top: 2em;
    .sales-btn {
      height: 36px;
      margin-right: 3em;
      float: right;
      border-radius: 4px;
      color: white;
      background: rgb(0 161 177);
      border: 1px solid rgb(0 161 177);
      font-size: 14px;
    }
  }
}
